@font-face {
  font-family: "MegalopolisExtra";
  src: url('MEgalopolisExtra.otf');
}

body {
  background-image:url('whitey.png');
}

h1 {
  font-family: "MegalopolisExtra";
  font-size: 72px;
  text-align: center;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-top: 50px;
  transition: all 1500ms ease;
  -webkit-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
}

img:hover {
  -transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
}

